@charset "UTF-8";

* {
  	margin-right: auto;
  	margin-left: auto;
}
h1{
	text-align:left;
}
.gazo {
	float:right;
	margin:2em 0 0 0;

}
body{
	text-align: center;
	height: 100vh;
    overflow: hidden;
      	background:#F8F8FF;
}
.loginbotan{
	background:#BBDDFF;;
	 border-radius: 25px 25px 25px 25px;
	  padding: 0.7em 6em;
}
a:link {
	color: #60EEEE;
 }
 a:visited {
	color:#60EEEE;
 }
 a:hover {
	color: #696969;
 }
 a:active {
	color: #696969;
 }
.logos{
	margin: 0 5em 0 0;
	float:left;
	text-align:left;
}
header{
	border:1px solid #696969;
}
.headsearch{
	margin:2.9em 0 0 4.5em;

}
.content{
	overflow: scroll;
    height: calc( 100% - 158px );
}

.table {
		table-layout: fixed;
		width: 1000px;
		border: 2px #808080 solid;
		border-collapse:collapse;
		text-align:left;
	}
	.table tr {
		border: 2px #808080 solid;
	}

	.a_table {
		border-collapse:collapse;
		text-align:left;
	}

	.a_table close {
		border-bottom: 2px #808080 solid;
	}
	.title {
		width: 30px;
	}

	.testOverflowTest1 {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis; /*非表示のあふれた内容をどのようにユーザーに知らせるのかを設定*/
	}
	.button{
	text-align:left;
	background:#BBDDFF;
	 border-radius: 5px 5px 5px 5px;
	}
	.memento{
	 display: none;
	}

	.formmemento{
	 width: 100%;
  display: flex;
  margin: 0 0 12px;
  background: url("/images/preMeToo.jpg") no-repeat;
  background-size: 20px;
  background-position: left center;
  padding: 6px 0 6px 26px;
	}
	.memento:checked + .formmemento{
	 background: url("/images/meToo.png") no-repeat;
  background-size: 20px;
  background-position: left center;
	}

/*hanba-ga-*/
.site-header{
    background: #fff;
    display: flex;
    padding: 0px 0px;
    /*position: fixed;*/
    justify-content: space-between;
    width: 100%;
}
img.sitelogo{
    height: 70px;
    width: auto;
    padding:0.7em 1em 0 0;
}
img.loginlogo{
    height: 150px;
    width: auto;
}
.zdo_drawer_button * {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font: inherit;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: left;
  text-decoration: none;
  list-style: none;
}

.zdo_drawer_button {
  display: block;
  padding: 0;
  width: 42px;
  height: 26px;
  position: relative;
  background: none;
  border: none;
  text-align: center;
  letter-spacing: 0.1em;
  cursor: pointer;
  outline: none;
}

.zdo_drawer_button .zdo_drawer_bar {
  display: block;
  width: 42px;
  height: 2px;
  transition: all 0.2s;
  transform-origin: 0% 0%;
  transform: translateY(-50%);
  position: absolute;
  left: 0;
}

.zdo_drawer_button .zdo_drawer_bar1 {
  top: 0;
}

.zdo_drawer_button .zdo_drawer_bar2 {
  top: 50%;
}

.zdo_drawer_button .zdo_drawer_bar3 {
  top: 100%;
}

.zdo_drawer_button.active .zdo_drawer_bar {
  width: 36.77px;
  left: 8px;
}

.zdo_drawer_button.active .zdo_drawer_bar1 {
  transform: rotate(0.7853981634rad) translateY(-50%);
  top: 0px;
}

.zdo_drawer_button.active .zdo_drawer_bar2 {
  opacity: 0;
}

.zdo_drawer_button.active .zdo_drawer_bar3 {
  transform: rotate(-0.7853981634rad) translateY(-50%);
  top: calc(100% - 0px);
}

.zdo_drawer_button.active .zdo_drawer_menu_text {
  display: none;
}

.zdo_drawer_button.active .zdo_drawer_close {
  display: block;
}

.zdo_drawer_text {
  width: 100%;
  position: absolute;
  bottom: -20px;
  left: 0;
  text-align: center;
  font-size: 10px;
}

.zdo_drawer_close {
  letter-spacing: 0.08em;
  display: none;
}

/*+++ Default Button Color +++*/
.zdo_drawer_button {
  color: #2274a5;
}

.zdo_drawer_button .zdo_drawer_bar {
  background-color: #2274a5;
}

/* === Hambuerger Button's Style End === */
.zdo_drawer_menu .zdo_drawer_button {
  /*+++ Hamburger Button Position +++*/
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 1001;
}
.zdo_drawer_menu a {
  color: inherit;
  text-decoration: none;
}
.zdo_drawer_menu a:visited {
  color: inherit;
}
.zdo_drawer_menu .zdo_drawer_bg {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background-color: rgba(51, 51, 51, 0.5);
  display: none;
  top: 0;
  left: 0;
}
.zdo_drawer_menu .zdo_drawer_nav_wrapper {
  width: 312px;
  height: 100%;
  transition: all 0.2s;
  transform: translate(312px);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: #FFF;
}
.zdo_drawer_menu .zdo_drawer_nav_wrapper.open {
  transform: translate(0);
}
.zdo_drawer_menu.left .zdo_drawer_button {
  right: auto;
  left: 32px;
}
.zdo_drawer_menu.left .zdo_drawer_nav_wrapper {
  transform: translate(-312px);
  right: auto;
  left: 0;
}
.zdo_drawer_menu.left .zdo_drawer_nav_wrapper.open {
  transform: translate(0);
}

/*+++ Default Navigation CSS +++*/
.zdo_drawer_menu .zdo_drawer_nav {
  padding: 112px 24px;
}
.zdo_drawer_menu .zdo_drawer_nav li {
  font-size: 16px;
  margin-bottom: 15px;
}